@page
@model LogoutModel

@{
    ViewData["Title"] = "Log out";
}

<div class="row justify-content-center align-items-center min-vh-100">
    <div class="col-md-4">
        <section>
            <form id="logoutForm" method="post">
                <h2 class="text-center">Cerrar sesión</h2>
                <hr />
                <div class="text-center mb-3">
                    <p>¿Estás seguro de que deseas cerrar sesión?</p>
                </div>
                <div>
                    <button id="logout-submit" type="submit" class="w-100 btn btn-lg btn-danger">Cerrar sesión</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
 
}
